#YungChien{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(37, 37, 37);

    .mynavbar{
        background-color: white;
        opacity: 0.7;
        backdrop-filter: blur(5px);
    }

    .title_area{
        font-size: 30px;
        letter-spacing: 4px;
        position: relative;
        margin-bottom: 2rem;
        color: lightgray;

        &::after{
            content:'';
            width: 20%;
            border-bottom: 3px solid rgb(71, 121, 152);
            position: absolute;
            bottom: -5%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
    @include lg{
        .title_area{
            &::after{
                content:'';
                width: 7%;
                border-bottom: 3px solid rgb(71, 121, 152);
                position: absolute;
                bottom: -5%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
    
        }
    }
   

}

