#YungChien{
    width: 100%;
    font-family: 'Roboto', sans-serif;

    .title_area{
        font-size: 30px;
        letter-spacing: 4px;
        position: relative;
        margin-bottom: 2rem;

        &::after{
            content:'';
            width: 20%;
            border-bottom: 3px solid rgb(71, 121, 152);
            position: absolute;
            bottom: -5%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}