.section03{
    margin-top: 3rem;
    width: 100%;

    .container{
        width: 70%;

        .firstWork{
            margin-top: 3rem;

            .card{
                width: 100%;
                border: none;
                margin-bottom: 3rem;
            }
    
            .card-title{
                font-size: 22px;
                font-weight: bolder;
                color: rgb(72,121,152);
            }
    
            .card-text{
                line-height: 1.5;
            }
    
            .btn{
                margin-top: 1rem!important;
                display: block;
                width: 60%;
                margin: auto;
                color:rgb(72,121,152) ;
                border: 2px solid rgb(72,121,152);
    
                &:hover{
                    background-color: rgb(72,121,152);
                    color: lightgray;
                }
            }

            .info_area{
                margin-top: 3rem;

                .accordion{
                    margin-bottom: 3rem;
                }

                .accordion-button{
                    background-color: rgb(72,121,152);
                    color: lightgray;
                    font-weight: bolder;
                    font-size: 18px;
                }
                .accordion-body{
                    line-height: 1.5;
                    text-align: justify;

                    .subtitle_area{
                        font-size: 18px;
                        font-weight: bolder;
                        margin-bottom: 1rem;
                    }
                }

                #idea{
                    ul{
                        margin-top: 2rem;
                    }
                }
            }
        }
        .others{
            width: 100%;

            .col-12{

                .card{
                    width: 100%;
                    border: none;
                    margin-bottom: 3rem;
                }
        
                .card-title{
                    font-size: 22px;
                    font-weight: bolder;
                    color: rgb(72,121,152);
                }
        
                .card-text{
                    line-height: 1.5;
                }
        
                .btn{
                    margin-top: 1rem!important;
                    display: block;
                    width: 60%;
                    margin: auto;
                    color:rgb(72,121,152) ;
                    border: 2px solid rgb(72,121,152);
        
                    &:hover{
                        background-color: rgb(72,121,152);
                        color: lightgray;
                    }
                }
            }

        }
    }

    @include lg{
        .container{
    
            .firstWork{
               display: flex;
               justify-content: space-evenly;

               .card{
                height: 511px;
               }
    
                .info_area{
                    margin: 0;
    
                    .accordion-button{
                        background-color: rgb(72,121,152);
                        color: lightgray;
                        font-weight: bolder;
                        font-size: 22px;
                        letter-spacing: 2px;
                    }
                    .accordion-body{
                        line-height: 1.5;
                        text-align: justify;
    
                        .subtitle_area{
                            font-size: 18px;
                            font-weight: bolder;
                            margin-bottom: 1rem;
                        }
                    }
    
                    .aboutFront{
                        display: flex;
                    }

                    .aboutBack{
                        display: flex;
                    }
                }
            }

            .others{
                margin-top: 2rem;
                width: 100%;
                display: flex;
                flex-flow: column wrap;

                .top_area,.bottom_area{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                }
    
                .col-12{
    
                    .card{
                        width: 100%;
                        height: 480px;
                        border: none;
                        margin-bottom: 3rem;

                    }

                   
            
                    .card-title{
                        font-size: 22px;
                        font-weight: bolder;
                        color: rgb(72,121,152);
                    }
            
                    .card-text{
                        line-height: 1.5;
                    }
            
                    .btn{
                        margin-top: 1rem!important;
                        display: block;
                        width: 60%;
                        margin: auto;
                        color:rgb(72,121,152) ;
                        border: 2px solid rgb(72,121,152);
            
                        &:hover{
                            background-color: rgb(72,121,152);
                            color: lightgray;
                        }
                    }
                }
    
            }
        }
    }
}