#YungChien {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(37, 37, 37);
}
#YungChien .navbar {
  background-color: rgb(72, 121, 152);
  opacity: 0.9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#YungChien .navbar .navbar-brand {
  color: lightgray;
}
#YungChien .navbar .navbar-toggler {
  color: lightgray !important;
}
#YungChien .navbar .nav-item a {
  color: lightgray;
}
#YungChien .title_area {
  font-size: 30px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 2rem;
  color: lightgray;
}
#YungChien .title_area::after {
  content: "";
  width: 20%;
  border-bottom: 3px solid rgb(71, 121, 152);
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  #YungChien .title_area::after {
    content: "";
    width: 7%;
    border-bottom: 3px solid rgb(71, 121, 152);
    position: absolute;
    bottom: -5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.section01 {
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgb(71, 121, 152)), to(rgb(37, 37, 37)));
  background: linear-gradient(to bottom, rgb(71, 121, 152) 35%, rgb(37, 37, 37) 100%);
}
.section01 .container-fluid {
  padding-left: 2rem;
}
.section01 .container-fluid .row {
  width: 100%;
  position: relative;
}
.section01 .container-fluid .row .col-12 {
  height: 400px;
  color: lightgray;
  line-height: 400px;
  font-size: 24px;
}
@media (min-width: 992px) {
  .section01 .container-fluid {
    padding-left: 2rem;
  }
  .section01 .container-fluid .row {
    width: 100%;
    position: relative;
  }
  .section01 .container-fluid .row .col-12 {
    letter-spacing: 4px;
    font-size: 40px;
  }
}

.section02 {
  width: 100%;
  height: 100%;
}
.section02 .container {
  width: 70%;
  margin: auto;
  height: 100%;
}
.section02 .container .row {
  width: 100%;
  height: 100%;
}
.section02 .container .row .info_area {
  width: 100%;
  height: 100%;
  color: lightgray;
}
.section02 .container .row .info_area .col-12 {
  margin-bottom: 2rem;
  height: 100%;
}
.section02 .container .row .info_area .col-12 .subtitle_area {
  text-align: center;
  font-weight: bolder;
  color: rgb(71, 121, 152);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.section02 .container .row .info_area .col-12 .content_area p {
  text-indent: 2rem;
  line-height: 1.5;
  text-align: justify;
}
.section02 .container .row .info_area .img_area {
  height: 100%;
}
.section02 .container .row .info_area .img_area img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 992px) {
  .section02 .container {
    width: 70%;
    margin: auto;
    height: 100%;
  }
  .section02 .container .row {
    width: 100%;
    height: 100%;
  }
  .section02 .container .row .info_area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
  }
  .section02 .container .row .info_area .col-lg-4 {
    height: 300px;
  }
  .section02 .container .row .info_area .col-lg-4 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section02 .container .row .info_area .col-lg-8 {
    margin-bottom: 2rem;
  }
  .section02 .container .row .info_area .col-lg-8 .subtitle_area {
    text-align: center;
    font-weight: bolder;
    color: rgb(71, 121, 152);
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .section02 .container .row .info_area .col-lg-8 .content_area {
    padding-left: 2rem;
  }
}

.section03 {
  margin-top: 3rem;
  width: 100%;
}
.section03 .container {
  width: 70%;
}
.section03 .container .firstWork {
  margin-top: 3rem;
}
.section03 .container .firstWork .card {
  width: 100%;
  border: none;
  margin-bottom: 3rem;
}
.section03 .container .firstWork .card-title {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(72, 121, 152);
}
.section03 .container .firstWork .card-text {
  line-height: 1.5;
}
.section03 .container .firstWork .btn {
  margin-top: 1rem !important;
  display: block;
  width: 60%;
  margin: auto;
  color: rgb(72, 121, 152);
  border: 2px solid rgb(72, 121, 152);
}
.section03 .container .firstWork .btn:hover {
  background-color: rgb(72, 121, 152);
  color: lightgray;
}
.section03 .container .firstWork .info_area {
  margin-top: 3rem;
}
.section03 .container .firstWork .info_area .accordion {
  margin-bottom: 3rem;
}
.section03 .container .firstWork .info_area .accordion-button {
  background-color: rgb(72, 121, 152);
  color: lightgray;
  font-weight: bolder;
  font-size: 18px;
}
.section03 .container .firstWork .info_area .accordion-body {
  line-height: 1.5;
  text-align: justify;
}
.section03 .container .firstWork .info_area .accordion-body .subtitle_area {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.section03 .container .firstWork .info_area #idea ul {
  margin-top: 2rem;
}
.section03 .container .others {
  width: 100%;
}
.section03 .container .others .col-12 .card {
  width: 100%;
  border: none;
  margin-bottom: 3rem;
}
.section03 .container .others .col-12 .card-title {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(72, 121, 152);
}
.section03 .container .others .col-12 .card-text {
  line-height: 1.5;
}
.section03 .container .others .col-12 .btn {
  margin-top: 1rem !important;
  display: block;
  width: 60%;
  margin: auto;
  color: rgb(72, 121, 152);
  border: 2px solid rgb(72, 121, 152);
}
.section03 .container .others .col-12 .btn:hover {
  background-color: rgb(72, 121, 152);
  color: lightgray;
}
@media (min-width: 992px) {
  .section03 .container .firstWork {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section03 .container .firstWork .card {
    height: 511px;
  }
  .section03 .container .firstWork .info_area {
    margin: 0;
  }
  .section03 .container .firstWork .info_area .accordion-button {
    background-color: rgb(72, 121, 152);
    color: lightgray;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .section03 .container .firstWork .info_area .accordion-body {
    line-height: 1.5;
    text-align: justify;
  }
  .section03 .container .firstWork .info_area .accordion-body .subtitle_area {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .section03 .container .firstWork .info_area .aboutFront {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section03 .container .firstWork .info_area .aboutBack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section03 .container .others {
    margin-top: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .section03 .container .others .top_area, .section03 .container .others .bottom_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .section03 .container .others .col-12 .card {
    width: 100%;
    height: 500px;
    border: none;
    margin-bottom: 3rem;
  }
  .section03 .container .others .col-12 .card-title {
    font-size: 22px;
    font-weight: bolder;
    color: rgb(72, 121, 152);
  }
  .section03 .container .others .col-12 .card-text {
    line-height: 1.5;
  }
  .section03 .container .others .col-12 .btn {
    margin-top: 1rem !important;
    display: block;
    width: 60%;
    margin: auto;
    color: rgb(72, 121, 152);
    border: 2px solid rgb(72, 121, 152);
  }
  .section03 .container .others .col-12 .btn:hover {
    background-color: rgb(72, 121, 152);
    color: lightgray;
  }
}

.section04 {
  width: 100%;
  margin-top: 3rem;
}
.section04 .container {
  width: 70%;
}
.section04 .container .row {
  width: 100%;
}
.section04 .container .row .card {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
  background-color: rgb(37, 37, 37);
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}
.section04 .container .row .card span {
  position: absolute;
}
.section04 .container .row .card .card_icon div {
  font-size: 50px;
  color: rgb(71, 121, 152);
}
.section04 .container .row .card .card-title {
  color: rgb(211, 211, 211);
  font-weight: bolder;
}
.section04 .container .row .card .card_content {
  color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section04 .container .row .card .card_content ul {
  text-align: left;
  margin: 0;
  padding: 0;
}
.section04 .container .row .card .card_content ul li {
  height: 30px;
}
.section04 .container .row .card .card_content ul:nth-of-type(2) {
  margin-left: 1.5rem;
}
.section04 .container .row .card:hover {
  -webkit-box-shadow: 0 0 5px rgb(71, 121, 152), 0 0 25px rgba(71, 121, 152, 0.8), 0 0 50px rgba(71, 121, 152, 0.5), 0 0 150px rgba(71, 121, 152, 0.3);
          box-shadow: 0 0 5px rgb(71, 121, 152), 0 0 25px rgba(71, 121, 152, 0.8), 0 0 50px rgba(71, 121, 152, 0.5), 0 0 150px rgba(71, 121, 152, 0.3);
}
.section04 .container .row .card:hover span:nth-of-type(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(71, 121, 152)), to(rgb(71, 121, 152)));
  background: linear-gradient(90deg, rgb(71, 121, 152), rgb(71, 121, 152));
  -webkit-animation: a1 0.5s forwards;
          animation: a1 0.5s forwards;
}
@-webkit-keyframes a1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes a1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.section04 .container .row .card:hover span:nth-of-type(2) {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(71, 121, 152)), to(rgb(71, 121, 152)));
  background: linear-gradient(180deg, rgb(71, 121, 152), rgb(71, 121, 152));
  -webkit-animation: a2 0.5s forwards;
          animation: a2 0.5s forwards;
}
@-webkit-keyframes a2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes a2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.section04 .container .row .card:hover span:nth-of-type(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgb(71, 121, 152)), to(rgb(71, 121, 152)));
  background: linear-gradient(270deg, rgb(71, 121, 152), rgb(71, 121, 152));
  -webkit-animation: a3 0.5s forwards;
          animation: a3 0.5s forwards;
}
@-webkit-keyframes a3 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes a3 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.section04 .container .row .card:hover span:nth-of-type(4) {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(71, 121, 152)), to(rgb(71, 121, 152)));
  background: linear-gradient(0deg, rgb(71, 121, 152), rgb(71, 121, 152));
  -webkit-animation: a4 0.5s forwards;
          animation: a4 0.5s forwards;
}
@-webkit-keyframes a4 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes a4 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.section04 .container .row .back_card .card_content {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .section04 .container {
    width: 70%;
  }
  .section04 .container .row {
    width: 100%;
  }
  .section04 .container .row .card {
    margin-top: 2rem;
    height: 320px;
  }
  .section04 .container .row .card span {
    position: absolute;
  }
  .section04 .container .row .card .card_content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section04 .container .row .card .card_content ul {
    margin: 0;
  }
  .section04 .container .row .back_card .card_content {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 2rem;
  }
}
@media (min-width: 992px) {
  .section04 .container {
    width: 70%;
  }
  .section04 .container .row {
    width: 100%;
  }
  .section04 .container .row .card {
    margin-top: 2rem;
    height: 300px;
  }
  .section04 .container .row .card span {
    position: absolute;
  }
  .section04 .container .row .card .card_content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section04 .container .row .card .card_content ul {
    margin-right: 2rem;
    text-align: left;
  }
  .section04 .container .row .card .card_content ul li {
    height: 30px;
  }
  .section04 .container .row .back_card .card_content {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 2rem;
  }
}

.section05 {
  width: 100%;
  margin-top: 3rem;
}
.section05 .container {
  width: 70%;
}
.section05 .container .row {
  width: 100%;
}
.section05 .container .row .col-12.subTitle_area {
  color: rgb(71, 121, 152);
  font-size: 24px;
  font-weight: bolder;
  margin-top: 2rem;
}
.section05 .container .row .col-12 .myCard {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  padding-left: 2rem;
  border-left: 5px solid rgb(71, 121, 152);
  color: lightgray;
}
.section05 .container .row .col-12 .myCard .card_date {
  color: gray;
  margin-bottom: 1rem;
}
.section05 .container .row .col-12 .myCard .card_title {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.section05 .container .row .col-12 .myCard .card_content ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .section05 .container {
    width: 70%;
  }
  .section05 .container .row {
    width: 100%;
  }
  .section05 .container .row .left_area, .section05 .container .row .right_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-left: 3rem;
  }
  .section05 .container .row .col-12.subTitle_area {
    color: rgb(71, 121, 152);
    font-size: 24px;
    font-weight: bolder;
    margin-top: 2rem;
  }
  .section05 .container .row .col-12 .myCard {
    padding-right: 1rem;
  }
  .section05 .container .row .col-12 .myCard .card_date {
    color: gray;
    margin-bottom: 1rem;
  }
  .section05 .container .row .col-12 .myCard .card_title {
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .section05 .container .row .col-12 .myCard .card_content p {
    text-align: justify;
  }
}

.section06 {
  margin-top: 3rem;
}
.section06 .container {
  width: 70%;
}
.section06 .container .subtitle_area {
  color: lightgray;
  text-align: center;
}
.section06 .container .btn_area {
  margin-top: 2rem;
}
.section06 .container .btn_area .btn_email {
  margin-bottom: 2rem;
  opacity: 0.7;
}
.section06 .container .btn_area .btn_email:hover {
  opacity: 1;
}
.section06 .container .btn_area .btn_email a {
  display: block;
  text-decoration: none;
  color: rgb(72, 121, 152);
}
.section06 .container .btn_area .btn_email a .mdi-email {
  font-size: 76px;
  text-align: center;
}
.section06 .container .btn_area .btn_phone {
  margin-bottom: 2rem;
  opacity: 0.7;
}
.section06 .container .btn_area .btn_phone:hover {
  opacity: 1;
}
.section06 .container .btn_area .btn_phone .mdi-phone {
  font-size: 76px;
  text-align: center;
  color: rgb(72, 121, 152);
}
.section06 .container .btn_area .btn_github {
  margin-bottom: 2rem;
  opacity: 0.7;
}
.section06 .container .btn_area .btn_github:hover {
  opacity: 1;
}
.section06 .container .btn_area .btn_github a {
  display: block;
  text-decoration: none;
  color: rgb(72, 121, 152);
}
.section06 .container .btn_area .btn_github a .mdi-github {
  font-size: 76px;
  text-align: center;
}
.section06 .container .btn_area .text_area {
  font-size: 20px;
  color: lightgray;
  text-align: center;
}
@media (min-width: 992px) {
  .section06 .container {
    width: 70%;
  }
  .section06 .container .subtitle_area {
    letter-spacing: 2px;
  }
  .section06 .container .btn_area {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  margin-top: 3rem;
}
.footer .container-fluid {
  background-color: rgb(72, 121, 152);
}
.footer .container-fluid .row {
  width: 100%;
}
.footer .container-fluid .row .col-12 {
  height: 50px;
  color: lightgray;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
}